*{
    padding: 0;
    margin: 0;
    font-family: "work sans", serif;
    font-style: normal;
}

body {
    width: 100%;
    overflow-x: hidden;
}


/* Work section */

.work-main{
    width: 100%;
    height: 210vh;
    margin: 0;
    padding: 0;
    background: #1AE9DE;
}

.work-main h2{
    font-size: 3rem;
    padding-top: 10vh;
    margin-left: 50px;
    color: rgb(41, 41, 41);
}
.work-main span {
    color: rgb(41, 41, 41);
}
.work-edit{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.cont-ent h3{
    font-size: 25px;
    font-weight: 400px;
    margin-top: 20px;
}

.cont-ent{
    width: 30%;
    height: 80vh;
    background: rgba(221, 221, 221, 60%);
    align-items: center;
    border: 3px solid rgb(198, 197, 197, 80%);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.cont-ent p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 35px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.ima-ge {
    width: 120vh;
    height: 80vh;
    box-shadow: 1px 1px 10px rgb(31, 31, 31) ;
}

.work-edit2 {
    display: flex;
    padding: 0 50px;
    margin-top: 150px;
    overflow: hidden;
    justify-content: space-between;
}

.ima-ge2 {
    width: 100vh;
    height: 70vh;
    box-shadow: 1px 1px 10px rgb(31, 31, 31) ;
}

.cont-ent2 {
    background:rgba(221, 221, 221, 50%);
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70vh;
    border: 3px solid rgb(198, 197, 197, 80%);
    border-radius: 5px;
}

.cont-ent2 h3{
    font-size: 30px;
    margin: 20px 20px;
}

.cont-ent2 p{
    font-size: 20px;
    margin: 0 20px;
    line-height: 30px;
}


/* OUR TEAM */
.team-info{
    width: 100%;
    height: auto;
}

.tx-t {
    font-size: 50px;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.tx-t span {
    color: #1AE9DE;
}

.ma-in{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 30px;
    gap: 30px;
}

.ima-gess{
    justify-content: center;
    width: 200px;
    height: 250px;
    background: #1AE9DE;
    border: 3px solid rgb(77, 77, 77);
    border-radius:7px ;
    transition: all .3s ease-out;
}

.ima-gess:hover{
    scale: 1.05;
}

.ima-gess img{
    margin: 0;
    width: 200px;
    position: absolute;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}


.ima-gess img.default{
    margin: 0;;
    opacity: 1;
}

.ima-gess img.hover{
    width: 200px;
    opacity: 0;
}

.ima-gess:hover img.default{
    opacity: 0;
    margin: 0;
}

.ima-gess:hover img.hover{
    transform: scale(1.05);
    opacity: 1;
    margin: 0;
}

.team-con{
    color: black;
    width: 200px;
    margin-top: 210px;
    position: absolute;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 1s top ease-in-out;
}

.team-con p{
    font-size: 12px;
}

.ima-gess:hover .team-con {
    opacity: 1;
}

.social-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    opacity: 0;
    margin-left: 165px;
}

.social-icons a {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    font-size: 18px;
    text-decoration: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    
}

.social-icons a.instagram::before {
    content: 'I';
    display: block;
    text-align: center;
}

.social-icons a.linkedin::before {
    content: 'L';
    display: block;
    text-align: center;
}
.social-icons a:first-child:hover{
    color: #E1306C;
    font-size: 25px;
    transition:  ease-out;
}
.social-icons a:hover{
    color:#0077B5;
    font-size: 25px;
    transition:  ease-out;
}
.ima-gess:hover .social-icons{
    opacity: 1;
}



/* footer section */

.animated-footer {
    width: 100%;
    height: auto;
    background: #29514F;
    position: relative;
    color: white;
    overflow: hidden;
}

.footer-container {
    padding: 20px 20px;
    flex-direction: column;
    align-items: center;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.footer-col {
    flex: 1 1 calc(33.333% - 30px);
    min-width: 280px;
    text-align: center;
    animation: fadeInUp 1.5s ease-in-out;
}

.footer-col h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #1AE9DE;
}

.footer-col p, .footer-col ul {
    font-size: 16px;
    line-height: 1.6;

}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #1AE9DE;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icon .icon{
    width: 60px;
    height: 60px;
    text-decoration: none;
    background: rgba(221, 191, 191, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease, background 0.3s ease;
}

.social-icon .icon:hover {
    background: #1AE9DE;
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}


.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    font-size: 0.9rem;
}

.footer-bottom p{
    font-size: 12px;

}


@media (max-width: 768px) {
    .work-main{
        display: block;
        justify-content: center;
        align-items: center;  
        height: auto;
        padding: 20px 0;
        overflow: hidden;
    }
    .work-main h2{
        margin-left: 20px ;

    }
    .work-edit {
        display: block;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 40px;
    }
    .cont-ent {
        width: 90%;
    }
    .ima-ge {
        width: auto;
        height: 31rem;
        margin: 50px 0;
        padding: 0;
    }
    .work-edit2 {
        display: block;
        justify-content: center;
        align-items: center; 
        margin: 0;
        padding: 0;
        margin-top: 20px;
        margin-left: 40px;
    }
    .ima-ge2{
        width: auto;
        height: 31rem;
    }
    .cont-ent2{
        width: 93%;
        margin-top: 40px;
        height: auto;
    }
    .tx-t{
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .work-main{
        display: block;
        justify-content: center;
        align-items: center;  
        height: auto;
        overflow: hidden;
    }
    .work-main h2{
        padding: 0;
        margin-left: 20px ;

    }
    .work-edit {
        display: block;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-top: 20px;
    }
    .cont-ent {
        width: 90%;
    }
    .ima-ge {
        width: auto;
        height: 16rem;
        margin: 50px 0;
        padding: 0;
    }
    .work-edit2 {
        display: block;
        justify-content: center;
        align-items: center; 
        margin: 0;
        padding: 0;
        margin-top: 20px;
        margin-left: 5px;
    }
    .ima-ge2{
        width: auto;
        height: 16rem;
        padding: 0;
        margin: 0;
    }
    .cont-ent2{
        width: 95%;
        margin-top: 40px;
        height: auto;
    }
    .tx-t{
        font-size: 40px;
    }
}